
<!-- (_includes/head.html) -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>50StatesWirelessUSA: Special offers available online</title>

<!-- --- START GOOGLE ANALYTICS --- -->
<!-- Global site tag (gtag.js) - Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YE6HK5EWC2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YE6HK5EWC2'); // Replace with your actual ID
</script>
<!-- --- END GOOGLE ANALYTICS --- -->
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<!-- <script src="https://www.paypal.com/sdk/js?client-id=ASN7PKGXRcDaxWEUQ9beftaFfpVjBSSwjrD441s3SX9O4FraiGhzd5Z0kO-dFpovPJre9YSnzuZpHhd4&currency=USD"></script> -->
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

{{ 50StatesWirelessUSA: Special offers available online }}
<script
    src="https://www.paypal.com/sdk/js?client-id=ASN7PKGXRcDaxWEUQ9beftaFfpVjBSSwjrD441s3SX9O4FraiGhzd5Z0kO-dFpovPJre9YSnzuZpHhd4&components=messages"
    data-namespace="PayPalSDK">
</script>
<script src="https://www.paypal.com/sdk/js?client-id=ASN7PKGXRcDaxWEUQ9beftaFfpVjBSSwjrD441s3SX9O4FraiGhzd5Z0kO-dFpovPJre9YSnzuZpHhd4&currency=USD&enable-funding=venmo"></script>
